<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading">Error <%= err.statusCode %>!</h4>
    <p><%= err.message %></p>
    <hr>
    <p class="mb-0">Something went wrong, please try again later.</p>
  </div>
</div>
